In [19]:
#import library
import numpy as np
import pandas as pd

#to ensure we have consistent results
np.random.seed(42)

In [20]:
#Load the dataset
print('==> Loading the dataset...')
insurance=pd.read_csv("dataset2.csv")
print('done\n')

==> Loading the dataset...
done

In [21]:
insurance.columns

Index(['Agency Type', 'Distribution Channel', 'Claim', 'Duration',
       'Destination', 'Net Sales', 'Commision (in value)', 'Age'],
      dtype='object')

In [22]:
#display dataset
insurance
#display first 5 rows
insurance.head()

,Agency Type,Distribution Channel,Claim,Duration,Destination,Net Sales,Commision (in value),Age
0,0,0,0,119.0,0,-27.0,9.570,55.0
1,0,0,0,119.0,0,-27.0,9.570,55.0
2,0,1,0,65.0,1,-27.0,28.875,32.0
3,0,1,0,60.0,1,-27.0,23.760,32.0
4,0,1,0,79.0,2,-19.8,11.880,41.0

In [23]:
#Split the data set into the input matrix and output vector
x= insurance.drop('Net Sales', axis=1)
y=insurance['Net Sales']

In [24]:
#display x 
#Dataset that have remove column Claim
x

,Agency Type,Distribution Channel,Claim,Duration,Destination,Commision (in value),Age
0,0,0,0,119.0,0,9.570,55.0
1,0,0,0,119.0,0,9.570,55.0
2,0,1,0,65.0,1,28.875,32.0
3,0,1,0,60.0,1,23.760,32.0
4,0,1,0,79.0,2,11.880,41.0
...,...,...,...,...,...,...,...
63321,1,1,0,111.0,10,12.250,31.0
63322,1,1,0,58.0,14,14.000,40.0
63323,1,1,0,2.0,0,6.300,55.0
63324,1,1,0,3.0,7,6.300,55.0
63325,1,1,0,22.0,19,9.100,35.0

In [25]:
#display the vector y[what we want to predict]
#column 'Net Sales' only
y

0       -27.0
1       -27.0
2       -27.0
3       -27.0
4       -19.8
         ...
63321    35.0
63322    40.0
63323    18.0
63324    18.0
63325    26.0
Name: Net Sales, Length: 63326, dtype: float64

In [26]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 63326 entries, 0 to 63325
Series name: Net Sales
Non-Null Count  Dtype
--------------  -----
63326 non-null  float64
dtypes: float64(1)
memory usage: 494.9 KB

In [27]:
#Split the dataset into training and testing set
#80% training set
#20% test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2, random_state=30)

In [28]:
#Standardize numeric data and normalize
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler(copy=False)
scaler.fit(x_train)
x_train=scaler.transform(x_train)

In [29]:
#print the total number of rows and column
print('x_train.shape:', x_train.shape) 
print('y_train shape:', y_train.shape)

x_train.shape: (50660, 7)
y_train shape: (50660,)

# KNN Model

In [30]:
from sklearn.neighbors import KNeighborsRegressor
#use train dataset
knn_model = KNeighborsRegressor(n_neighbors=5)
knn_model.fit(x_train, y_train)

# Score
score_knn = knn_model.score(x_test, y_test)
score_knn

C:\Users\shinj\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  warnings.warn(

-0.7856351155840589

In [31]:
y_pred=knn_model.predict(x_train)
#predict using the same training data
#y_train should be similar to y_predict
#predict value similar to the actual value

In [32]:
def show10results(y_train, y_pred):
    print('Result for the 10 random samples: ')
    selected = np.random.randint(0, len(y_train), 10)
    for i in selected:
        print('actual = {:7.0f} pred ={:7.0f}'.format(y_train[i], y_pred[i]))

y_pred=knn_model.predict(x_train)#predict
show10results(y_train, y_pred)

Result for the 10 random samples:
actual =      46 pred =     16
actual =      19 pred =     14
actual =      63 pred =     15

KeyError: 44732

In [33]:
#calculate root mean square error
from sklearn.metrics import mean_squared_error

knn_mse=mean_squared_error(y_pred, y_train)
knn_rmse=np.sqrt(knn_mse)
print('RMSE =', knn_rmse)

RMSE = 17.43337246733517

In [34]:
insurance['Net Sales'].mean()

35.140899946309915