In [41]:
#import library
import numpy as np
import pandas as pd

#to ensure we have consistent results
np.random.seed(42)

In [42]:
#Load the dataset
print('==> Loading the dataset...')
insurance=pd.read_csv("dataset2.csv")
print('done\n')

==> Loading the dataset...
done

In [43]:
insurance.columns

Index(['Agency Type', 'Distribution Channel', 'Claim', 'Duration',
       'Destination', 'Net Sales', 'Commision (in value)', 'Age'],
      dtype='object')

In [44]:
#display dataset
insurance
#display first 5 rows
insurance.head()

,Agency Type,Distribution Channel,Claim,Duration,Destination,Net Sales,Commision (in value),Age
0,0,0,0,119.0,0,-27.0,9.570,55.0
1,0,0,0,119.0,0,-27.0,9.570,55.0
2,0,1,0,65.0,1,-27.0,28.875,32.0
3,0,1,0,60.0,1,-27.0,23.760,32.0
4,0,1,0,79.0,2,-19.8,11.880,41.0

In [45]:
#Split the data set into the input matrix and output vector
x= insurance.drop('Net Sales', axis=1)
y=insurance['Net Sales']

In [46]:
#display x 
#Dataset that have remove column Claim
x

,Agency Type,Distribution Channel,Claim,Duration,Destination,Commision (in value),Age
0,0,0,0,119.0,0,9.570,55.0
1,0,0,0,119.0,0,9.570,55.0
2,0,1,0,65.0,1,28.875,32.0
3,0,1,0,60.0,1,23.760,32.0
4,0,1,0,79.0,2,11.880,41.0
...,...,...,...,...,...,...,...
63321,1,1,0,111.0,10,12.250,31.0
63322,1,1,0,58.0,14,14.000,40.0
63323,1,1,0,2.0,0,6.300,55.0
63324,1,1,0,3.0,7,6.300,55.0
63325,1,1,0,22.0,19,9.100,35.0

In [47]:
#display the vector y[what we want to predict]
#column 'Net Sales' only
y

0       -27.0
1       -27.0
2       -27.0
3       -27.0
4       -19.8
         ...
63321    35.0
63322    40.0
63323    18.0
63324    18.0
63325    26.0
Name: Net Sales, Length: 63326, dtype: float64

In [48]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 63326 entries, 0 to 63325
Series name: Net Sales
Non-Null Count  Dtype
--------------  -----
63326 non-null  float64
dtypes: float64(1)
memory usage: 494.9 KB

In [49]:
#Split the dataset into training and testing set
#80% training set
#20% test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2, random_state=30)

In [52]:
#Standardize numeric data and normalize
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler(copy=False)
scaler.fit(x_train)
x_train=scaler.transform(x_train)

In [54]:
#y_train = y_train.values;  #convert to numpy array
#print the total number of rows and column
print('x_train.shape:', x_train.shape) 
print('y_train shape:', y_train.shape)

x_train.shape: (50660, 7)
y_train shape: (50660,)

# Linear Regression Model

In [55]:
from sklearn.linear_model import LinearRegression
#use train dataset
lin_reg=LinearRegression()
lin_reg.fit(x_train, y_train)

LinearRegression()

In [56]:
y_pred=lin_reg.predict(x_train)
#predict using the same training data
#y_train should be similar to y_predict
#predict value similar to the actual value

In [57]:
def show10results(y_train, y_pred):
    print('Result for the 10 random samples: ')
    selected = np.random.randint(0, len(y_train), 10)
    for i in selected:
        print('actual = {:7.0f} pred ={:7.0f}'.format(y_train[i], y_pred[i]))

y_pred=lin_reg.predict(x_train)#predict
show10results(y_train, y_pred)

Result for the 10 random samples:
actual =       0 pred =     39
actual =      10 pred =     23
actual =      20 pred =     25
actual =      10 pred =     26
actual =      13 pred =     25
actual =      93 pred =     70
actual =      30 pred =     24
actual =      32 pred =     39
actual =      16 pred =     24
actual =      13 pred =     37

In [60]:
#calculate root mean square error
from sklearn.metrics import mean_squared_error

lin_mse=mean_squared_error(y_pred, y_train)
lin_rmse=np.sqrt(lin_mse)
print('RMSE =', lin_rmse)

RMSE = 23.120954860375655

In [59]:
insurance['Net Sales'].mean()

35.140899946309915

# Evaluating using cross validation

In [61]:
from sklearn.model_selection import cross_val_score

k_fold_scores = cross_val_score(lin_reg, x_train, y_train, 
                                scoring = 'neg_mean_squared_error', cv=5)

linreg_rmse_scores = np.sqrt(-k_fold_scores)

def display_scores(scores):
    print('Scores:', scores, '\n')
    print('Mean:', scores.mean())
    print('Standard deviation:', scores.std())
    
display_scores(linreg_rmse_scores)

Scores: [23.10943266 23.45969089 23.17671509 23.22685097 22.6413436 ]

Mean: 23.12280664181829
Standard deviation: 0.2680327834209322